.app-container {
  display: flex;
  height: 100vh;
}

.maze {
  flex: 2; /* Левый блок занимает 2/3 пространства */
  
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #ddd;
}

.settings {
  flex: 1; /* Правый блок занимает 1/3 пространства */
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100vh; /* Занимаем всю высоту экрана */
}
.settings-text{
  text-align: center;
}